In [3]:
import pandas as pd

production=pd.read_csv('./csv/production_match_area.csv')
weather=pd.read_csv('./csv/weather_area_new.csv')

In [4]:
#TM을 연도, 월만 나타나게 수정
weather['YEAR'] = weather['TM'].astype(str).str[:4].astype(int)
weather['MONTH'] = weather['TM'].astype(str).str[4:6].astype(int)

In [5]:
weather

,TM,STN,WS_AVG,WR_DAY,WD_MAX,WS_MAX,WS_MAX_TM,WD_INS,WS_INS,WS_INS_TM,...,TE_05,TE_10,TE_15,TE_30,TE_50,STN_ID,STN_KO,AREA,YEAR,MONTH
0,20140101,90.0,5.4,4691.0,27.0,9.8,2224.0,27.0,18.0,2111.0,...,-99.0,-99.0,-99.0,-99.0,-99.0,90.0,속초,강원도,2014,1
1,20140101,95.0,3.2,2741.0,23.0,7.3,1527.0,23.0,12.5,1611.0,...,2.2,5.6,-99.0,-99.0,-99.0,95.0,철원,강원도,2014,1
2,20140101,98.0,2.6,2257.0,25.0,7.9,1541.0,25.0,13.7,1259.0,...,-99.0,-99.0,-99.0,-99.0,-99.0,98.0,동두천,경기도,2014,1
3,20140101,99.0,2.0,1742.0,23.0,6.1,1442.0,25.0,10.0,1521.0,...,-99.0,-99.0,-99.0,-99.0,-99.0,99.0,파주,경기도,2014,1
4,20140101,100.0,10.6,9158.0,27.0,15.5,1837.0,27.0,22.7,1935.0,...,-99.0,-99.0,-99.0,-99.0,-99.0,100.0,대관령,강원도,2014,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359833,20240615,285.0,0.7,615.0,18.0,3.8,1832.0,16.0,8.2,1830.0,...,-99.0,-99.0,-99.0,-99.0,-99.0,285.0,합천,경상남도,2024,6
359834,20240615,288.0,0.8,728.0,23.0,2.9,1637.0,36.0,5.7,1855.0,...,-99.0,-99.0,-99.0,-99.0,-99.0,288.0,밀양,경상남도,2024,6
359835,20240615,289.0,1.2,1003.0,29.0,3.9,1916.0,32.0,6.9,1942.0,...,-99.0,-99.0,-99.0,-99.0,-99.0,289.0,산청,경상남도,2024,6
359836,20240615,294.0,1.3,1118.0,20.0,4.4,2011.0,14.0,10.0,2007.0,...,-99.0,-99.0,-99.0,-99.0,-99.0,294.0,거제,경상남도,2024,6
359837,20240615,295.0,1.4,1200.0,27.0,2.9,1204.0,25.0,5.3,1858.0,...,-99.0,-99.0,-99.0,-99.0,-99.0,295.0,남해,경상남도,2024,6

In [6]:
#TA : 기온 / RN_DAY : 일 강수량 / WS : 풍속 / PA : 현지기압 / SS : 일조 / HM : 상대습도
weather_selected = weather[['YEAR', 'AREA', 'MONTH', 'RN_DAY', 'WS_AVG','PA_AVG', 'SS_DAY', 'HM_AVG', 'TA_AVG']]
weather_monthly = weather_selected.groupby(['YEAR','MONTH', 'AREA']).mean().reset_index()
weather_monthly

,YEAR,MONTH,AREA,RN_DAY,WS_AVG,PA_AVG,SS_DAY,HM_AVG,TA_AVG
0,2014,1,강원도,-6.189330,1.862035,996.143424,5.670968,57.983871,-1.284119
1,2014,1,경기도,-6.703226,1.289032,1017.721290,5.872903,61.565806,-1.987097
2,2014,1,경상남도,-7.341244,1.612442,1016.393779,7.090553,50.596774,1.888940
3,2014,1,경상북도,-6.832488,2.251382,1008.439862,6.236406,51.805530,0.041935
4,2014,1,광주광역시,-6.261290,1.790323,1016.548387,6.790323,57.987097,2.054839
...,...,...,...,...,...,...,...,...,...
2073,2024,6,전라남도,-5.799487,1.952821,1004.471795,7.974359,75.155897,21.526667
2074,2024,6,전라북도,-6.206000,1.638667,989.767333,8.915333,69.564667,21.826667
2075,2024,6,제주특별자치도,-3.391667,2.545000,1005.538333,6.603333,76.751667,21.371667
2076,2024,6,충청남도,-6.506667,1.381111,1003.567778,9.984444,69.606667,21.725556
2077,2024,6,충청북도,-5.802222,1.371111,992.601111,9.557778,64.142222,21.952222

In [12]:
weather_monthly['AREA'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도', '충청남도',
       '충청북도', '세종특별자치시'], dtype=object)

In [13]:
weather_monthly['AREA'] =weather_monthly['AREA'].replace('제주특별자치도', '제주도')

In [14]:
production['지역'].unique()

array(['충청남도', '경기도', '경상북도', '강원도', '경상남도', '제주도', '전라남도', '전라북도'],
      dtype=object)

In [15]:
weather_monthly['AREA'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주도', '충청남도', '충청북도',
       '세종특별자치시'], dtype=object)

In [16]:
merged_data = pd.merge(production, weather_monthly, how='left', left_on=['년도', '지역'], right_on=['YEAR', 'AREA'])

In [17]:
merged_data[merged_data['지역']=="제주도"]

,작물명,지역,생산량,년도,단위,YEAR,MONTH,AREA,RN_DAY,WS_AVG,PA_AVG,SS_DAY,HM_AVG,TA_AVG
816,기타잡곡,제주도,3429.0,2013,톤,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
817,기타잡곡,제주도,4725.0,2014,톤,2014.0,1.0,제주도,-4.838710,4.240323,1019.454032,5.808871,61.774194,6.884677
818,기타잡곡,제주도,4725.0,2014,톤,2014.0,2.0,제주도,0.275893,4.185714,1017.626786,4.206250,69.898214,7.466964
819,기타잡곡,제주도,4725.0,2014,톤,2014.0,3.0,제주도,-0.830645,4.399194,1015.129839,6.315323,66.831452,10.684677
820,기타잡곡,제주도,4725.0,2014,톤,2014.0,4.0,제주도,-1.662500,3.618333,1011.915833,6.515833,67.318333,14.676667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7198,양배추,제주도,87986.0,2022,톤,2022.0,8.0,제주도,1.011290,3.499194,1003.555645,7.258065,82.712903,28.101613
7199,양배추,제주도,87986.0,2022,톤,2022.0,9.0,제주도,6.609167,3.874167,1006.364167,4.824167,78.479167,24.005833
7200,양배추,제주도,87986.0,2022,톤,2022.0,10.0,제주도,-5.899194,3.964516,1016.175000,6.600000,68.415323,18.349194
7201,양배추,제주도,87986.0,2022,톤,2022.0,11.0,제주도,-2.209167,3.522500,1015.667500,6.028333,69.901667,15.440000
7202,양배추,제주도,87986.0,2022,톤,2022.0,12.0,제주도,-3.247581,4.719355,1019.374194,3.258065,66.045161,6.795968

In [20]:
final_data = merged_data[['YEAR', 'MONTH', '지역', '작물명', '생산량', 'RN_DAY',
       'WS_AVG', 'PA_AVG', 'SS_DAY', 'HM_AVG', 'TA_AVG']]

final_data.to_csv('final_merged_production_weather_data_new.csv', index=False)